footer.footer-wrapper#footer
	.container
		.footer
			h2.footer__title Footer Navigation
			nav.footer-column.footer-navigation
				ul.footer-navigation__list
					li.footer-navigation__item
						a(href="index.html").footer-navigation__link Home
					li.footer-navigation__item
						a(href="about.html").footer-navigation__link About
					li.footer-navigation__item
						a(href="distinguish.html").footer-navigation__link Distinguish