header#header-wrapper
	.container
		.header
			h2.header__title Header Navigation
			nav.header-navigation
				ul.header-navigation__list
					li.header-navigation__item
						a(href="index.html").header-navigation__link Home
					li.header-navigation__item
						a(href="about.html").header-navigation__link About
					li.header-navigation__item
						a(href="distinguish.html").header-navigation__link Distinguish